In [7]:
for i in range(3 ,10 ,3):
    print(i)

3
6
9

In [8]:
for i in range (5 ,10 ,5):
    print(i)

5

In [10]:
for i in range (3, 1000, 3):
    print(i, end=' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198 201 204 207 210 213 216 219 222 225 228 231 234 237 240 243 246 249 252 255 258 261 264 267 270 273 276 279 282 285 288 291 294 297 300 303 306 309 312 315 318 321 324 327 330 333 336 339 342 345 348 351 354 357 360 363 366 369 372 375 378 381 384 387 390 393 396 399 402 405 408 411 414 417 420 423 426 429 432 435 438 441 444 447 450 453 456 459 462 465 468 471 474 477 480 483 486 489 492 495 498 501 504 507 510 513 516 519 522 525 528 531 534 537 540 543 546 549 552 555 558 561 564 567 570 573 576 579 582 585 588 591 594 597 600 603 606 609 612 615 618 621 624 627 630 633 636 639 642 645 648 651 654 657 660 663 666 669 672 675 678 681 684 687 690 693 696 699 702 705 708 711 714 717 720 723 726 729 732 735 738 741 744 747 750 753 756 759 762 765 768 771 774 777 780 783 786 789 792 795 798 801 804 807 810 813 816 819 822 825 828 831 834 837 840 843 846 849 852 855 858 861 864 867 870 873 876 879 882 885 888 891 894 897 900 903 906 909 912 915 918 921 924 927 930 933 936 939 942 945 948 951 954 957 960 963 966 969 972 975 978 981 984 987 990 993 996 999

In [11]:
for i in range (5, 1000, 5):
    print(i, end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200 205 210 215 220 225 230 235 240 245 250 255 260 265 270 275 280 285 290 295 300 305 310 315 320 325 330 335 340 345 350 355 360 365 370 375 380 385 390 395 400 405 410 415 420 425 430 435 440 445 450 455 460 465 470 475 480 485 490 495 500 505 510 515 520 525 530 535 540 545 550 555 560 565 570 575 580 585 590 595 600 605 610 615 620 625 630 635 640 645 650 655 660 665 670 675 680 685 690 695 700 705 710 715 720 725 730 735 740 745 750 755 760 765 770 775 780 785 790 795 800 805 810 815 820 825 830 835 840 845 850 855 860 865 870 875 880 885 890 895 900 905 910 915 920 925 930 935 940 945 950 955 960 965 970 975 980 985 990 995

In [14]:
i = 0
while i < 10:
    i += 1
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [17]:
i = 0
j = 10

while i < 100 and j < 100:
    i += 3
    j += 10

    print(f'i: {i}, j: {j}', end=' ' * 10)

i: 3, j: 20          i: 6, j: 30          i: 9, j: 40          i: 12, j: 50          i: 15, j: 60          i: 18, j: 70          i: 21, j: 80          i: 24, j: 90          i: 27, j: 100

In [1]:
sum_ = 0

for i in range(0, 1000, 17):
    sum_ = sum_ + i
    print(i, end=' -- ')

sum_

0 -- 17 -- 34 -- 51 -- 68 -- 85 -- 102 -- 119 -- 136 -- 153 -- 170 -- 187 -- 204 -- 221 -- 238 -- 255 -- 272 -- 289 -- 306 -- 323 -- 340 -- 357 -- 374 -- 391 -- 408 -- 425 -- 442 -- 459 -- 476 -- 493 -- 510 -- 527 -- 544 -- 561 -- 578 -- 595 -- 612 -- 629 -- 646 -- 663 -- 680 -- 697 -- 714 -- 731 -- 748 -- 765 -- 782 -- 799 -- 816 -- 833 -- 850 -- 867 -- 884 -- 901 -- 918 -- 935 -- 952 -- 969 -- 986 --

29087

In [20]:
sum([10, 11, 12, 11])

44

In [4]:
sm = 0
for i in range(1000 // 17 + 1):
    sm += i * 17
    print(i * 17, end=' -- ')
sm

0 -- 17 -- 34 -- 51 -- 68 -- 85 -- 102 -- 119 -- 136 -- 153 -- 170 -- 187 -- 204 -- 221 -- 238 -- 255 -- 272 -- 289 -- 306 -- 323 -- 340 -- 357 -- 374 -- 391 -- 408 -- 425 -- 442 -- 459 -- 476 -- 493 -- 510 -- 527 -- 544 -- 561 -- 578 -- 595 -- 612 -- 629 -- 646 -- 663 -- 680 -- 697 -- 714 -- 731 -- 748 -- 765 -- 782 -- 799 -- 816 -- 833 -- 850 -- 867 -- 884 -- 901 -- 918 -- 935 -- 952 -- 969 -- 986 --

29087

In [6]:
for i in range(100):
    a = i // 2
    b = i / 2

    if a != b:
        print(f'{i} not divisible by 2')
    else:
        print(i)

0
1 not divisible by 2
2
3 not divisible by 2
4
5 not divisible by 2
6
7 not divisible by 2
8
9 not divisible by 2
10
11 not divisible by 2
12
13 not divisible by 2
14
15 not divisible by 2
16
17 not divisible by 2
18
19 not divisible by 2
20
21 not divisible by 2
22
23 not divisible by 2
24
25 not divisible by 2
26
27 not divisible by 2
28
29 not divisible by 2
30
31 not divisible by 2
32
33 not divisible by 2
34
35 not divisible by 2
36
37 not divisible by 2
38
39 not divisible by 2
40
41 not divisible by 2
42
43 not divisible by 2
44
45 not divisible by 2
46
47 not divisible by 2
48
49 not divisible by 2
50
51 not divisible by 2
52
53 not divisible by 2
54
55 not divisible by 2
56
57 not divisible by 2
58
59 not divisible by 2
60
61 not divisible by 2
62
63 not divisible by 2
64
65 not divisible by 2
66
67 not divisible by 2
68
69 not divisible by 2
70
71 not divisible by 2
72
73 not divisible by 2
74
75 not divisible by 2
76
77 not divisible by 2
78
79 not divisible by 2
80
81 not divisible by 2
82
83 not divisible by 2
84
85 not divisible by 2
86
87 not divisible by 2
88
89 not divisible by 2
90
91 not divisible by 2
92
93 not divisible by 2
94
95 not divisible by 2
96
97 not divisible by 2
98
99 not divisible by 2

In [8]:
for i in range(50):
    if i % 3 == 0:
        print(f'{i} is divible by 3')
    elif i % 5 == 0:
        print(f'{i} is divisible by 5')
    elif i % 3 == 0 and i % 5 == 0:
        pass
    else:
        print(f'{i} is a strange number')

0 is divible by 3
1 is a strange number
2 is a strange number
3 is divible by 3
4 is a strange number
5 is divisible by 5
6 is divible by 3
7 is a strange number
8 is a strange number
9 is divible by 3
10 is divisible by 5
11 is a strange number
12 is divible by 3
13 is a strange number
14 is a strange number
15 is divible by 3
16 is a strange number
17 is a strange number
18 is divible by 3
19 is a strange number
20 is divisible by 5
21 is divible by 3
22 is a strange number
23 is a strange number
24 is divible by 3
25 is divisible by 5
26 is a strange number
27 is divible by 3
28 is a strange number
29 is a strange number
30 is divible by 3
31 is a strange number
32 is a strange number
33 is divible by 3
34 is a strange number
35 is divisible by 5
36 is divible by 3
37 is a strange number
38 is a strange number
39 is divible by 3
40 is divisible by 5
41 is a strange number
42 is divible by 3
43 is a strange number
44 is a strange number
45 is divible by 3
46 is a strange number
47 is a strange number
48 is divible by 3
49 is a strange number

In [10]:
for i in range(10):
    pass

In [18]:
sum_ = 0

for i in range(5, 1000, 5):
    sum_ = sum_ + i
    print(i, end=' -- ')

sum_

5 -- 10 -- 15 -- 20 -- 25 -- 30 -- 35 -- 40 -- 45 -- 50 -- 55 -- 60 -- 65 -- 70 -- 75 -- 80 -- 85 -- 90 -- 95 -- 100 -- 105 -- 110 -- 115 -- 120 -- 125 -- 130 -- 135 -- 140 -- 145 -- 150 -- 155 -- 160 -- 165 -- 170 -- 175 -- 180 -- 185 -- 190 -- 195 -- 200 -- 205 -- 210 -- 215 -- 220 -- 225 -- 230 -- 235 -- 240 -- 245 -- 250 -- 255 -- 260 -- 265 -- 270 -- 275 -- 280 -- 285 -- 290 -- 295 -- 300 -- 305 -- 310 -- 315 -- 320 -- 325 -- 330 -- 335 -- 340 -- 345 -- 350 -- 355 -- 360 -- 365 -- 370 -- 375 -- 380 -- 385 -- 390 -- 395 -- 400 -- 405 -- 410 -- 415 -- 420 -- 425 -- 430 -- 435 -- 440 -- 445 -- 450 -- 455 -- 460 -- 465 -- 470 -- 475 -- 480 -- 485 -- 490 -- 495 -- 500 -- 505 -- 510 -- 515 -- 520 -- 525 -- 530 -- 535 -- 540 -- 545 -- 550 -- 555 -- 560 -- 565 -- 570 -- 575 -- 580 -- 585 -- 590 -- 595 -- 600 -- 605 -- 610 -- 615 -- 620 -- 625 -- 630 -- 635 -- 640 -- 645 -- 650 -- 655 -- 660 -- 665 -- 670 -- 675 -- 680 -- 685 -- 690 -- 695 -- 700 -- 705 -- 710 -- 715 -- 720 -- 725 -- 730 -- 735 -- 740 -- 745 -- 750 -- 755 -- 760 -- 765 -- 770 -- 775 -- 780 -- 785 -- 790 -- 795 -- 800 -- 805 -- 810 -- 815 -- 820 -- 825 -- 830 -- 835 -- 840 -- 845 -- 850 -- 855 -- 860 -- 865 -- 870 -- 875 -- 880 -- 885 -- 890 -- 895 -- 900 -- 905 -- 910 -- 915 -- 920 -- 925 -- 930 -- 935 -- 940 -- 945 -- 950 -- 955 -- 960 -- 965 -- 970 -- 975 -- 980 -- 985 -- 990 -- 995 --

99500

In [19]:
sum_ = 0

for i in range(3, 1000, 3):
    sum_ = sum_ + i
    print(i, end=' -- ')

sum_

3 -- 6 -- 9 -- 12 -- 15 -- 18 -- 21 -- 24 -- 27 -- 30 -- 33 -- 36 -- 39 -- 42 -- 45 -- 48 -- 51 -- 54 -- 57 -- 60 -- 63 -- 66 -- 69 -- 72 -- 75 -- 78 -- 81 -- 84 -- 87 -- 90 -- 93 -- 96 -- 99 -- 102 -- 105 -- 108 -- 111 -- 114 -- 117 -- 120 -- 123 -- 126 -- 129 -- 132 -- 135 -- 138 -- 141 -- 144 -- 147 -- 150 -- 153 -- 156 -- 159 -- 162 -- 165 -- 168 -- 171 -- 174 -- 177 -- 180 -- 183 -- 186 -- 189 -- 192 -- 195 -- 198 -- 201 -- 204 -- 207 -- 210 -- 213 -- 216 -- 219 -- 222 -- 225 -- 228 -- 231 -- 234 -- 237 -- 240 -- 243 -- 246 -- 249 -- 252 -- 255 -- 258 -- 261 -- 264 -- 267 -- 270 -- 273 -- 276 -- 279 -- 282 -- 285 -- 288 -- 291 -- 294 -- 297 -- 300 -- 303 -- 306 -- 309 -- 312 -- 315 -- 318 -- 321 -- 324 -- 327 -- 330 -- 333 -- 336 -- 339 -- 342 -- 345 -- 348 -- 351 -- 354 -- 357 -- 360 -- 363 -- 366 -- 369 -- 372 -- 375 -- 378 -- 381 -- 384 -- 387 -- 390 -- 393 -- 396 -- 399 -- 402 -- 405 -- 408 -- 411 -- 414 -- 417 -- 420 -- 423 -- 426 -- 429 -- 432 -- 435 -- 438 -- 441 -- 444 -- 447 -- 450 -- 453 -- 456 -- 459 -- 462 -- 465 -- 468 -- 471 -- 474 -- 477 -- 480 -- 483 -- 486 -- 489 -- 492 -- 495 -- 498 -- 501 -- 504 -- 507 -- 510 -- 513 -- 516 -- 519 -- 522 -- 525 -- 528 -- 531 -- 534 -- 537 -- 540 -- 543 -- 546 -- 549 -- 552 -- 555 -- 558 -- 561 -- 564 -- 567 -- 570 -- 573 -- 576 -- 579 -- 582 -- 585 -- 588 -- 591 -- 594 -- 597 -- 600 -- 603 -- 606 -- 609 -- 612 -- 615 -- 618 -- 621 -- 624 -- 627 -- 630 -- 633 -- 636 -- 639 -- 642 -- 645 -- 648 -- 651 -- 654 -- 657 -- 660 -- 663 -- 666 -- 669 -- 672 -- 675 -- 678 -- 681 -- 684 -- 687 -- 690 -- 693 -- 696 -- 699 -- 702 -- 705 -- 708 -- 711 -- 714 -- 717 -- 720 -- 723 -- 726 -- 729 -- 732 -- 735 -- 738 -- 741 -- 744 -- 747 -- 750 -- 753 -- 756 -- 759 -- 762 -- 765 -- 768 -- 771 -- 774 -- 777 -- 780 -- 783 -- 786 -- 789 -- 792 -- 795 -- 798 -- 801 -- 804 -- 807 -- 810 -- 813 -- 816 -- 819 -- 822 -- 825 -- 828 -- 831 -- 834 -- 837 -- 840 -- 843 -- 846 -- 849 -- 852 -- 855 -- 858 -- 861 -- 864 -- 867 -- 870 -- 873 -- 876 -- 879 -- 882 -- 885 -- 888 -- 891 -- 894 -- 897 -- 900 -- 903 -- 906 -- 909 -- 912 -- 915 -- 918 -- 921 -- 924 -- 927 -- 930 -- 933 -- 936 -- 939 -- 942 -- 945 -- 948 -- 951 -- 954 -- 957 -- 960 -- 963 -- 966 -- 969 -- 972 -- 975 -- 978 -- 981 -- 984 -- 987 -- 990 -- 993 -- 996 -- 999 --

166833

In [20]:
sum([99500, 166833])

266333

In [21]:
sum_ = 0

for i in range(15, 1000, 15):
    sum_ = sum_ + i
    print(i, end=' -- ')

sum_

15 -- 30 -- 45 -- 60 -- 75 -- 90 -- 105 -- 120 -- 135 -- 150 -- 165 -- 180 -- 195 -- 210 -- 225 -- 240 -- 255 -- 270 -- 285 -- 300 -- 315 -- 330 -- 345 -- 360 -- 375 -- 390 -- 405 -- 420 -- 435 -- 450 -- 465 -- 480 -- 495 -- 510 -- 525 -- 540 -- 555 -- 570 -- 585 -- 600 -- 615 -- 630 -- 645 -- 660 -- 675 -- 690 -- 705 -- 720 -- 735 -- 750 -- 765 -- 780 -- 795 -- 810 -- 825 -- 840 -- 855 -- 870 -- 885 -- 900 -- 915 -- 930 -- 945 -- 960 -- 975 -- 990 --

33165

In [24]:
sm = 0
for i in range(1, 1000):
    if i % 3 == 0:
        sm += i
    elif i % 5 == 0:
        sm += i
sm

233168