In [1]:
x = 10

y = 12

z = 20

x * x * z

2000

In [2]:
hello = 'something'

print(hello)

something

In [3]:
x

10

In [4]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)

1
2
3
4
5
6

In [5]:
for i in range(10): # -> (0, 10, 1)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(0, 10, 2): 
    print(i, end=' ')

0 2 4 6 8

In [17]:
for i in range(2, 100, 2):
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:
# print 1 to 1000
# print all odd numbers between 80 and 700
# print multiplication table

In [32]:
for i in range(10):
    for j in range(10):
        print(str.ljust(str(i * j), 10), end=' ')
    print('\n')

0          0          0          0          0          0          0          0          0          0

0          1          2          3          4          5          6          7          8          9

0          2          4          6          8          10         12         14         16         18

0          3          6          9          12         15         18         21         24         27

0          4          8          12         16         20         24         28         32         36

0          5          10         15         20         25         30         35         40         45

0          6          12         18         24         30         36         42         48         54

0          7          14         21         28         35         42         49         56         63

0          8          16         24         32         40         48         56         64         72

0          9          18         27         36         45         54         63         72         81

In [ ]:
print(1)

print(10)

In [29]:
no1 = 10

no2 = 20

no1 = str(no1)
no2 = str(no2)

no1 + no2

'1020'

In [28]:
str1 = 'He'

str2 = 'll'

str3 = 'o'

str1 + str2 + str3

'Hello'